body {
  margin: 0;
}
.joblistingpage {
  min-height: 100vh;
  background: url("../../assets/topwave.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20rem;
}
